<a href="https://colab.research.google.com/github/Chinu98344/Diabetes-Prediction-/blob/main/DiabetesPredictionSVM.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Importing the dependencies

In [60]:
import numpy as np
import pandas as pd
from sklearn.preprocessing import StandardScaler
from sklearn.model_selection import train_test_split
from sklearn import svm
from sklearn.metrics  import accuracy_score

Importing DataSet of Diabetes 
from PIMA Indains Diabetes Dataset

In [61]:
#pd.read_csv uploads and read data from csv file  
diabetes_data=pd.read_csv('/content/diabetes.csv')

In [62]:
diabetes_data.head()

,Pregnancies,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age,Outcome
0,6,148,72,35,0,33.6,0.627,50,1
1,1,85,66,29,0,26.6,0.351,31,0
2,8,183,64,0,0,23.3,0.672,32,1
3,1,89,66,23,94,28.1,0.167,21,0
4,0,137,40,35,168,43.1,2.288,33,1

In [63]:
#Number of rows and columns in this dataset
diabetes_data.shape

(768, 9)

In [64]:
diabetes_data.describe()

,Pregnancies,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age,Outcome
count,768.000000,768.000000,768.000000,768.000000,768.000000,768.000000,768.000000,768.000000,768.000000
mean,3.845052,120.894531,69.105469,20.536458,79.799479,31.992578,0.471876,33.240885,0.348958
std,3.369578,31.972618,19.355807,15.952218,115.244002,7.884160,0.331329,11.760232,0.476951
min,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.078000,21.000000,0.000000
25%,1.000000,99.000000,62.000000,0.000000,0.000000,27.300000,0.243750,24.000000,0.000000
50%,3.000000,117.000000,72.000000,23.000000,30.500000,32.000000,0.372500,29.000000,0.000000
75%,6.000000,140.250000,80.000000,32.000000,127.250000,36.600000,0.626250,41.000000,1.000000
max,17.000000,199.000000,122.000000,99.000000,846.000000,67.100000,2.420000,81.000000,1.000000

In [65]:
#value_counts() counts the frequency of diffrent values 
diabetes_data['Outcome'].value_counts()

0    500
1    268
Name: Outcome, dtype: int64

Here, 

0 represents Non-Diabetic  
1 represents Diabetic

In [66]:
# diabetes_data.groupby('Outcome').describe()
diabetes_data.groupby('Outcome').mean()

,Pregnancies,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age
Outcome,,,,,,,,
0,3.298000,109.980000,68.184000,19.664000,68.792000,30.304200,0.429734,31.190000
1,4.865672,141.257463,70.824627,22.164179,100.335821,35.142537,0.550500,37.067164

Separating the data and labels

In [67]:

X=diabetes_data.drop(columns='Outcome', axis=1)
Y=diabetes_data['Outcome']

In [68]:
print(X)
print(Y)

     Pregnancies  Glucose  BloodPressure  SkinThickness  Insulin   BMI  \
0              6      148             72             35        0  33.6
1              1       85             66             29        0  26.6
2              8      183             64              0        0  23.3
3              1       89             66             23       94  28.1
4              0      137             40             35      168  43.1
..           ...      ...            ...            ...      ...   ...
763           10      101             76             48      180  32.9
764            2      122             70             27        0  36.8
765            5      121             72             23      112  26.2
766            1      126             60              0        0  30.1
767            1       93             70             31        0  30.4

     DiabetesPedigreeFunction  Age
0                       0.627   50
1                       0.351   31
2                       0.672   32
3                       0.167   21
4                       2.288   33
..                        ...  ...
763                     0.171   63
764                     0.340   27
765                     0.245   30
766                     0.349   47
767                     0.315   23

[768 rows x 8 columns]
0      1
1      0
2      1
3      0
4      1
      ..
763    0
764    0
765    0
766    1
767    0
Name: Outcome, Length: 768, dtype: int64

Data Standardization

In [69]:
#Standardize features by removing the mean and scaling to unit variance.
scaler=StandardScaler()

In [70]:
# Fitting data X into scaler for standerdization
scaler.fit(X)

StandardScaler()

In [71]:
# Here we are transforming data into certain range which is standerized
# that is making them into range of 0-1(approx)
standardized_data=scaler.transform(X)

In [72]:
print(standardized_data)

[[ 0.63994726  0.84832379  0.14964075 ...  0.20401277  0.46849198
   1.4259954 ]
 [-0.84488505 -1.12339636 -0.16054575 ... -0.68442195 -0.36506078
  -0.19067191]
 [ 1.23388019  1.94372388 -0.26394125 ... -1.10325546  0.60439732
  -0.10558415]
 ...
 [ 0.3429808   0.00330087  0.14964075 ... -0.73518964 -0.68519336
  -0.27575966]
 [-0.84488505  0.1597866  -0.47073225 ... -0.24020459 -0.37110101
   1.17073215]
 [-0.84488505 -0.8730192   0.04624525 ... -0.20212881 -0.47378505
  -0.87137393]]

In [73]:
#Here X is data and Y is Model
X=standardized_data
Y=diabetes_data['Outcome']

Training and splitting data

In [74]:
X_train, X_test, Y_train, Y_test =train_test_split(X,Y,test_size=0.2, stratify=Y,random_state=2)

In [75]:
print(X.shape, X_train.shape, X_test.shape )

(768, 8) (614, 8) (154, 8)

Training the data

In [76]:
#svm load Support Vector Machine into classifier 
#SVC= support vector classifier
classifier=svm.SVC(kernel='linear')

In [77]:
#Now Training the Support Vector Machine classifier
classifier.fit(X_train,Y_train)

SVC(kernel='linear')

Model Evaluation

Accuracy Score

In [78]:
#Accuracy score on training data
#predict() function enables us to predict the labels of the data values on the basis of the trained model

X_train_prediction= classifier.predict(X_train)
training_data_accuracy= accuracy_score(X_train_prediction, Y_train)

In [79]:
print('The train accuracy score of diabetic patient is : ',training_data_accuracy)

The train accuracy score of diabetic patient is :  0.7866449511400652

In [80]:
#Accuracy score on test data

X_test_prediction= classifier.predict(X_test)
testing_data_accuracy= accuracy_score(X_test_prediction, Y_test)

In [81]:
print('The train accuracy score of diabetic patient is : ',testing_data_accuracy)

The train accuracy score of diabetic patient is :  0.7727272727272727

Making a predivtive system

In [82]:
input_data=(0,137,40,35,168,43.1,2.288,33)

#Changing the data into numpy array
input_data_as_numpy_array= np.asarray(input_data)

#Reshaping the data as we are predincting for only 1 instance
input_data_reshaped=input_data_as_numpy_array.reshape(1,-1)

#Standardize the input data
# scaler.transform is that it will transform your data such that its distribution will have a mean value 0 and standard deviation of 1
std_data=scaler.transform(input_data_reshaped)
print(std_data)

[[-1.14185152  0.5040552  -1.50468724  0.90726993  0.76583594  1.4097456
   5.4849091  -0.0204964 ]]

/usr/local/lib/python3.7/dist-packages/sklearn/base.py:451: UserWarning: X does not have valid feature names, but StandardScaler was fitted with feature names
  "X does not have valid feature names, but"

In [83]:
#Printing prediction
#SVM is loaded into classifier
prediction=classifier.predict(std_data)

In [84]:
print(prediction)

[1]

In [85]:
if(prediction[0]==0):
  print('This person is not diabetic')
else:
  print('this person is diabetic')

this person is diabetic